/* some common css style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav section start */

header{
    background-color: rgba(255, 144, 14, 0.1);
}
.architect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.architect-title h2{
    font-size: 45px;
    font-weight: 700;
}
.architect-link ul li{
    list-style: none;
}
.architect-link ul{
    display: flex;
    gap: 50px;
}
.architect-link ul li a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/* hero section start */

.hero{
    margin-top: 105px;
    padding-bottom: 45px;
}
.hero-description{
    text-align: center;
}
.hero-description h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}
.hero-description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
    color: rgb(114, 114, 114);
}
.hero-description button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 144, 14);
}
.hero-description img{
    margin-top: 50px;
}

/* our feature section start */

.our-feature{
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.our-feature-images{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.our-feature-description h1{
    font-size: 45px;
    font-weight: 700;
    color: rgb(19, 19, 19);
}
.list{
    color: rgb(114, 114, 114);
}
.feature{
    color: rgb(255, 144, 14);
}
.our-feature-description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    color: rgb(114, 114, 114);
}
.our-feature-description button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 144, 14);
}
/* responsive media queary mobile device */

@media screen and (max-width: 576px) {
    .architect, .our-feature{
        padding-top: 20px;
        flex-direction: column;
    }  
    .architect-link{
        margin-top: 20px;
    }  
    .hero, .our-feature-description{
        padding: 15px;
    }
    .hero-description img{
        width: 100%;
    }
    .our-feature-images{
        grid-template-columns: 1fr;
    }
}